<!--This section is to show all comments that owned by the article  -->
<div class="wrap">
	<h1>Comment for Article: <%=@article.title%></h1>
	<p><%=flash[:notice]%></p>

	  <div id="comments">
	  	<%= render :partial => "comments", :locals => {:comments => @comments}  %>
	  </div>
	
	<% unless(current_user.nil?)%>
	<h2>Post New Comment</h2>
	   <%= form_for @comment, :url => comments_path, :remote => true do |f| -%>
	      <%= f.text_area :content , :style => "width:100%; height: 100px; box-shadow: inset 2px 2px 2px #333;"%>
	      <%= f.hidden_field :article_id, :value => @article.id %><br/>
	      <%= f.submit "post" %>
	  <% end -%>
	<% end %>
</div>