  <div class="list_head">
    <div class="left">
      <h2>List Article</h2>
    </div>
    <div class="right">
      <h2><%=link_to "+", new_article_path , :title => "Add New Article" %></h2>
    </div>
  </div>
    <div class="content" style="padding: 50px 0 0 0 ;">
      <table>
            <% i = 1 %>
        <% @articles.each do  |article| %>
          <%= link_to article_path(article.id),:method => :get, :title => "See Details" do %>
            <% if i%2==0 %>
          <tr class="genap">
          <% else %>
          <tr class="ganjil">
          <% end %>
          <% i+=1 %>
            <td>
              <%= truncate(article.body, :length => 200, :omission => '...') %>
              <br/>
              <br/>
              <%= link_to "See Details",article_path(article.id),:method => :get, :title => "See Details"%>
                <% if current_user.present? && article.user.present? && current_user.id==article.user.id %>
                 | <%= link_to "Edit",edit_article_path(article.id),:method => :get, :title => "Edit article"%>
                  | <%= link_to "Delete", article_path(article.id),:method => :delete, :title => "Delete article"%>
                  <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>