<div class="wrap">
	<h1>Edit : <%=@article_id.title%></h1>
	<%#= form_tag(articles_update_path, :method => :post, :id =>1) do %>  
	<%= form_for @article_id do |f| %>
	  <%= f.hidden_field :id , :value => @article_id.id %><br/>
	  Title: <br/><%= f.text_field :title, :value => @article_id.title %><br/><br/>
	  Body: <br/><%= f.text_area :body, :value => @article_id.body, :style => "width:100%; height: 100px; box-shadow: inset 2px 2px 2px #333;" %><br/><br/>
	  Rating: <br/><%= f.text_field :rating,:value =>  @article_id.rating%><br/><br/>
	  <%= f.hidden_field :user_id , :value =>@article_id.user_id%><br/>
	  <%=f.submit :update%><br/>
	<% end %>
</div>