<!DOCTYPE html>
<html>
<head>
  <title>FINAL PROJECT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<p>Welcome to My Store</p>
		</div>
		<br class="clear"/>
		<div class="menu">
			<div class="left">
				
				<ul>
					<li>
						<%= link_to "Home", root_url %>
					</li>
					<li>
						<%= link_to "Products", products_path %>
					</li>
					<li>
						<% if current_user.present? && current_user.is_admin? %>
						<%= link_to "Articles", admin_articles_path %>
						<% else %>
						<%= link_to "Articles", articles_path %>
						<% end %>
					</li>
					<li>
						<%= link_to "Category", categories_path %>
					</li>
				</ul>

			</div>
			<div class="right">
				<div class="status">
					<%= raw(welcome_text) %>
				</div>
			</div>
		</div>
		<br class="clear">
			<%= yield %>
	<div id="footer">
			<p>
				Created by Ivan Andhika
			</p>
	</div>
</div>
</body>
</html>
