<!DOCTYPE html>
<html>
<head>
  <title>FINAL PROJECT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<p>Welcome to My Store</p>
		</div>
		<br class="clear"/>
		<div class="menu">
			<div class="left">
				
				<ul>
					<li>
						<%= link_to "Home", root_url %>
					</li>
					<li>
						<%= link_to "Products", products_path %>
					</li>
					<li>
						<%= link_to "Articles", articles_path %>
					</li>
					<li>
						<%= link_to "Category", categories_path %>
					</li>
				</ul>

			</div>
			<div class="right">
				<div class="status">
					<%= raw(welcome_text) %>
				</div>
			</div>
		</div>
		<br class="clear">
			<div class="wrap">
			  <p class="notification"><%=flash[:error]%></p>
			  <p class="notification"><%=flash[:notice]%></p>
			  <% if session[:user_id].present?%>
			  <div id="left_side">
			    
			  </div>
			  <% else %>
			  <div id="left_side">
			    <h1>Log in</h1> 
			      <%= form_tag sessions_path do %> 
			      <p> 
			        <%= label_tag :email %><br /> 
			        <%= text_field_tag :email, params[:email] %> 
			      </p> 
			      <p> 
			        <%= label_tag :password %><br /> 
			        <%= password_field_tag :password %> 
			      </p> 
			      <%#= recaptcha_tags %>
			      <%= link_to "Sign Up", new_user_path %>
			      <p class="button"><%= submit_tag "Login" %></p> 
			    <% end %> 
			  </div>
			  <% end %>
			  <div id="right_side">
			  		<%= yield %>
			  </div>
			</div>

	<div id="footer">
			<p>
				Created by Ivan Andhika
			</p>
	</div>
</div>
</body>
</html>
